.alignLeft {
  text-align: left;
  max-width: 500px;
}

.alignRight {
  text-align: right;
}

.inner {
    position: relative;
    display: flex;
    flex-direction: column;
  .message {
    margin-bottom: 0px;
  }
  .date {
    font-size: 12px;
    padding-top: 0;
    margin-bottom: 5px;
  }
}
