*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  line-height: 27px;
  font-weight: 300;
  color: #2c2b2b;
  cursor: default;
  .container{
    max-width: 900px;
  }
  a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
  }
}
